# Local (Postgres en tu PC)
PGHOST=localhost
PGPORT=5433
PGUSER=postgres
PGPASSWORD=tu_password_local
PGDATABASE=AgroTrace360
PORT=8787

# Producción / Supabase (Render usa esta)
# Pooler sesión · puerto 5432
DATABASE_URL=postgresql://postgres.rmfgzyymkdkoyozlrlgv:TU_PASSWORD@aws-0-us-west-2.pooler.supabase.com:5432/postgres
PGSSL=true
