# Logs
logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.pdf
data/*.db
data/uploads/*
!data/uploads/catalogo/
!data/uploads/catalogo/**
!data/uploads/market/
!data/uploads/market/**
!data/uploads/guias/
!data/uploads/guias/**
!data/uploads/integrante/
!data/uploads/integrante/**
!data/uploads/pitch/
!data/uploads/pitch/**
